---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Connect" description="Get in touch with Cody Badger">
  <h1>Connect</h1>
  <p>Connect content coming soon. This will have contact information and ways to get in touch.</p>
</Layout> 