---
import Layout from '../layouts/Layout.astro';
---

<Layout title="CV" description="Cody Badger's curriculum vitae and professional experience">
  <h1 class="header">Cody Badger CV 2025-07</h1>
  <p>
    <a href="/cv/Cody%20Badger%20CV%202025-07.pdf" target="_blank">Download/View PDF</a>
  </p>
  <iframe src="/cv/Cody%20Badger%20CV%202025-07.pdf" width="100%" height="900px" style="border:none;">
    This browser does not support PDFs. Please download the PDF to view it: <a href="/cv/Cody%20Badger%20CV%202025-07.pdf">Download PDF</a>.
  </iframe>
</Layout> 