---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects" description="Cody Badger's personal and professional projects">
  <h1>Projects</h1>
  <p>Projects content coming soon. This will showcase various engineering and technical projects I've worked on.</p>
</Layout> 